<a href="https://colab.research.google.com/github/nealonleo9/Chi-2-Tests/blob/main/Chi_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Librarys And Data**

In [ ]:
# https://towardsdatascience.com/gentle-introduction-to-chi-square-test-for-independence-7182a7414a95

In [5]:
from google.colab import files
uploaded = files.upload()

Saving archive (9).zip to archive (9).zip

In [6]:
!unzip /content/arc.zip

Archive:  /content/arc.zip
  inflating: student-mat.csv
  inflating: student-merge.R
  inflating: student-por.csv

In [7]:
from scipy.stats import chi2_contingency
import pandas as pd
import numpy as np

In [8]:
import pandas as pd

df = pd.read_csv('/content/student-mat.csv')
df1 = pd.read_csv('/content/student-por.csv')

**Data Exploration**

In [9]:
df.head()

  school sex  age address famsize Pstatus  ...  Walc  health absences  G1  G2  G3
0     GP   F   18       U     GT3       A  ...     1       3        6   5   6   6
1     GP   F   17       U     GT3       T  ...     1       3        4   5   5   6
2     GP   F   15       U     LE3       T  ...     3       3       10   7   8  10
3     GP   F   15       U     GT3       T  ...     1       5        2  15  14  15
4     GP   F   16       U     GT3       T  ...     2       5        4   6  10  10

[5 rows x 33 columns]

In [ ]:
df1.head()

  school sex  age address famsize Pstatus  ...  Walc  health absences  G1  G2  G3
0     GP   F   18       U     GT3       A  ...     1       3        4   0  11  11
1     GP   F   17       U     GT3       T  ...     1       3        2   9  11  11
2     GP   F   15       U     LE3       T  ...     3       3        6  12  13  12
3     GP   F   15       U     GT3       T  ...     1       5        0  14  14  14
4     GP   F   16       U     GT3       T  ...     2       5        0  11  13  13

[5 rows x 33 columns]

**WorkSpace**

In [ ]:
from scipy.stats import chisquare
chisquare([16, 18, 16, 14, 12, 12])
(2.0, 0.84914503608460956)

(2.0, 0.8491450360846096)

In [ ]:
chisquare([16, 18, 16, 14, 12, 12], ddof=1)
(2.0, 0.73575888234288467)

(2.0, 0.7357588823428847)

**WorkSpace2**

In [10]:
df.head()

  school sex  age address famsize Pstatus  ...  Walc  health absences  G1  G2  G3
0     GP   F   18       U     GT3       A  ...     1       3        6   5   6   6
1     GP   F   17       U     GT3       T  ...     1       3        4   5   5   6
2     GP   F   15       U     LE3       T  ...     3       3       10   7   8  10
3     GP   F   15       U     GT3       T  ...     1       5        2  15  14  15
4     GP   F   16       U     GT3       T  ...     2       5        4   6  10  10

[5 rows x 33 columns]

In [14]:
chi2_contingency(df['studytime'])

(0.0,
 1.0,
 0,
 array([2., 2., 2., 3., 2., 2., 2., 2., 2., 2., 2., 3., 1., 2., 3., 1., 3.,
        2., 1., 1., 2., 1., 2., 2., 3., 1., 1., 1., 2., 2., 2., 2., 2., 2.,
        1., 1., 3., 3., 3., 1., 2., 1., 2., 1., 2., 2., 2., 4., 2., 2., 2.,
        2., 1., 1., 1., 2., 2., 2., 2., 2., 2., 1., 2., 3., 2., 2., 4., 4.,
        2., 4., 4., 4., 2., 1., 2., 2., 4., 4., 1., 2., 1., 3., 2., 2., 2.,
        2., 2., 3., 2., 2., 3., 1., 2., 2., 4., 4., 1., 2., 1., 3., 1., 3.,
        1., 2., 2., 4., 4., 3., 4., 3., 1., 3., 2., 1., 2., 2., 2., 1., 2.,
        1., 2., 4., 2., 1., 2., 1., 2., 2., 1., 1., 3., 1., 1., 1., 2., 3.,
        2., 1., 2., 1., 4., 1., 3., 1., 1., 2., 2., 2., 1., 1., 1., 1., 3.,
        1., 1., 2., 1., 1., 1., 2., 1., 2., 1., 1., 2., 1., 2., 2., 2., 2.,
        1., 2., 2., 2., 2., 2., 2., 2., 1., 2., 2., 2., 2., 2., 2., 2., 1.,
        2., 2., 2., 2., 2., 2., 1., 1., 2., 1., 1., 1., 2., 2., 2., 2., 1.,
        4., 3., 2., 2., 1., 3., 4., 2., 2., 2., 1., 2., 2., 2., 1., 3., 2.,
        3., 2., 2., 3., 2., 2., 2., 2., 3., 2., 2., 2., 2., 2., 3., 2., 1.,
        2., 2., 2., 2., 1., 1., 3., 1., 1., 1., 2., 1., 1., 2., 1., 1., 1.,
        1., 4., 2., 2., 4., 2., 2., 3., 3., 3., 2., 2., 2., 2., 2., 2., 4.,
        2., 2., 2., 2., 2., 1., 2., 1., 1., 1., 4., 2., 2., 2., 3., 3., 3.,
        2., 2., 3., 2., 4., 3., 1., 2., 2., 4., 1., 2., 1., 3., 4., 2., 2.,
        1., 1., 2., 2., 2., 2., 2., 2., 3., 3., 2., 3., 3., 2., 2., 2., 3.,
        3., 3., 3., 1., 1., 3., 3., 4., 3., 2., 2., 4., 3., 3., 2., 4., 2.,
        3., 2., 2., 2., 3., 3., 3., 3., 3., 1., 2., 2., 1., 1., 2., 2., 2.,
        2., 1., 3., 2., 2., 2., 2., 2., 2., 3., 1., 1., 2., 2., 1., 3., 1.,
        3., 3., 3., 2., 2., 2., 2., 1., 2., 1., 1., 3., 1., 3., 2., 2., 2.,
        1., 1., 1., 1.]))

In [ ]:
df=chi2_contingency(tshirts)[3]
pd.DataFrame(
    data=df[:,:], 
    index=["Male","Female"],
    columns=["Black","White","Red","Blue"]
).round(2)